*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --blue-color: #003381;
    --light-color: #003381;
    --bg-color: aliceblue;
    --header-margin-corners: 1em;
    --font-color: black;
    --link-font-size: 1.5em;
    --black-color: var(--black-color);
    --content-width: 60vw;
}


body{
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--font-color);
}

nav{
    position:fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 2em;
    font-size: 0.8em;
    top: 0;
    width: 96vw;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-left: var(--header-margin-corners);
}
.logo strong{
    font-size: 1.5em;
    span{
        color: #003381;
    }
}
.logo svg{
    height: 2em;
    width: 2em;
}

nav .menu{
    margin-right: var(--header-margin-corners);
    display: flex;
    flex-direction: row;
    gap: 2.5em;

}

nav .menu a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color: var(--black-color);
    font-weight: bold;  
    transition: 0.5s ease-in-out;
}
a svg{
    height: 1.5em;
    width: 1.5em;
    fill: var(--black-color);
    transition: ease;
}

.menu a:hover{
    color: var(--blue-color);
    /* font-size: 1.2em; */
    svg{
        fill: var(--blue-color);
        transition: 0.5s ease-in-out;
    }
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--font-color);
    color: #000000;
    text-align: center;
}

/*---------------------HOMECONTENU========================================*/
.div1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
    width: 80vw;
    margin-top: 2em;
}



.div2{
    display: flex;
    flex-direction: row ;
    align-items: center;
    gap: 1em;
    margin-top: 2em;

}



.contenu{
margin-top: 4em;
width: 100vw;
height: 100vh;
display: flex;
flex-direction: row ;
align-items: center;
justify-content: center;
}

.para{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.div1 .img{
    width: 50vw;
    height: 50vh;
}

.div1 .img img{
    width: 100%;
    height: 100%;
}

.para h1{
    font-weight: 900;
    font-size: 2em;
    text-align: left;
}

.para p{
    font-weight: 200;
    font-size: 1.5em;
    margin-top: 0.5em;
    text-align: left;
}
.div2 a{
    background-color:var(--blue-color) ;
    padding: 1em;
    color: white;
    border-radius: 0.5em;
    font-weight: 800;
    
}
/*---------------------HomeCONTENU========================================*/
h1{
    font-weight: 900;
    font-size: 2em;
    text-align: center;
}

.contenu2 h1{
    margin-bottom: 4em;
}


h3{
    font-size: 30px;
    margin-bottom: 20px;
}

strong{
    color: #003381;
}

#features{
    display: grid;
    gap: 30px;
    justify-content: center;
    margin-bottom: 90px;
}

.features-card{
    text-align: left;
    display: grid;
    width: 400px;
    column-gap: 10px;
}

.features-card h2{
    text-align: left;
    font-size: 24px;
}

.features-card p{
    font-size: 18px;
}

#personalized-outfit-div{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#take-measurements-div{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#discover-tailors-div{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#virtual-closet-div{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

button{
    background-color: #003381;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    color: aliceblue;
    font-size: 25px;
    border: none;
}

#personalized-outfit-div h2, #discover-tailors-div h2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#personalized-outfit-div p, #discover-tailors-div p{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

#take-measurements-div h2 , #virtual-closet-div h2{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#take-measurements-div p, #virtual-closet-div p{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#personalized-outfit-div img, #discover-tailors-div img{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 20px;
}

#take-measurements-div img, #virtual-closet-div img{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 20px;
}

/*Contenue 3======*/
.contenu3{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


